extends layout

block append head
    link(rel='stylesheet', href='/css/index/index.css')

block content
    header
        a#forkme_banner(href="https://github.com/ccforward/zhihu") View on GitHub
    div.start-img(style="")
        div.back-img(style="background-image: url(#{pic.img})" data-img="#{pic.img}")
        p.author #{pic.text}
    div.articles(data-artiles="#{latest.length}")
        if latest.length>0
            each item in latest
                a.article(href="http://daily.zhihu.com/story/#{item.id}")
                    span #{item.title} 
                    if(item && item.images)
                        img(src="http://ccforward.sinaapp.com/api/proxy.php?url=#{item.images[0]}")                   
    div.calendar

block append footer
