<%- include("./common/header.ejs") %>


<header>
    <a href="https://github.com/ccforward/zhihu" id="forkme_banner">View on GitHub</a>
</header>
        
<div class="articles">
<% if(latest.length>0){ %>
    <% for (var i=0;i<latest.length;i++){ %>
        <a href="http://daily.zhihu.com/story/<%= latest[i].id %>" class="article">
            <span><%= latest[i].title %></span>
            <img src="http://ccforward.sinaapp.com/api/proxy.php?url=<%=latest[i].images[0]%>">
        </a>
    <% } %>
<% } %>
</div>


<%- include("./common/footer.ejs") %>
